
<h1>CRUD NODEJS</h1>
<div style="margin: 0 auto; text-align: center;" >
    <a href="insert">
        <button class="button"  name="insert" >Insert</button>
    </a><br>
    <a href="select">
        <button class="button"  name="select" >Select</button>
    </a><br>
</div>
{{!-- <a href='insert'>Insert</a><br>
<a href='select'>Select</a><br> --}}
